<nav class="navbar">
    <div>
        <a th:href="@{/articulo/lista}">Productos</a>
        <a th:href="@{/fabrica/lista}">Fabricantes</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/usuarios/lista}">Usuarios</a>
    </div>
    <div> | </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/registrar}">Registrar</a>    
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <!-- <a th:href="@{/usuarios/perfil/editar/__${session.userId}__}">Editar perfil</a> -->
        <a th:href="@{/usuarios/perfil/editar/__${session.sessionUser.id}__}">Editar perfil</a>
        <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
</nav>