<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace = "~{/fragments/head :: head}"> </head>

<body style="background: #9a9a9a;">
    <h1>SOLAR ⚡ ENERGIA</h1>

    <div th:if="${edit} == 'users'">
        <!-- <h1 th:replace = "~{/fragments/logo :: h1}"></h1> -->
        <h3>Editar perfil</h3>
        <form th:action="@{/usuario/editar}" method="POST" enctype="multipart/form-data">

            <div>
                <img id="displayImage" class="profilePic" th:src="'/images/default_pic.png'" width="150px" onclick="document.getElementById('file').click()"/>    
                <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                <p>Click to upload picture</p>
            </div>
            <div>
                <input type="email" name="email" placeholder="email" th:value="${email}">
            </div>
            <div>
                <input type="text"  name="apellido" placeholder="apellido" th:value="${apellido}">
            </div>
            <div>
                <input type="text"  name="nombre" placeholder="name" th:value="${nombre}">
            </div>
            <div id="password">
                <input type="password" name="password" placeholder="password"
                    th:value="${password}" oninput="toggleNextField()">
            </div>
            <div id="passwordRepeat" style="display: none;">
                <input type="password" name="passwordRepeat" placeholder="re-enter password"
                    th:value="${password2}">
            </div>

            <button class="register-buttom" type="submit">Guardar perfíl</button>
        </form>
    </div>

    <div th:if="${edit} == 'articulo'">
        <!-- <h1 th:replace = "~{/fragments/logo :: h1}"></h1> -->
        <h3>Editar artículo</h3>
        <form th:action="@{/articulo/editar}" method="POST" enctype="multipart/form-data">

            <div>
                <img id="displayImage" class="productImg" th:src="'/images/default_product.jpg'"
                    width="150px" onclick="document.getElementById('file').click()" />
                <input type="file" id="file" name="file" accept="image/*" style="display: none;"
                    onchange="previewImage(event)">
                <p>Click to upload picture</p>
            </div>
            <div>
                <input type="text" name="nombre" placeholder="name" th:value="${nombre}">
            </div>
            <div>
                <input type="text" name="fabrica" placeholder="fabrica" th:value="${fabrica}">
            </div>
            <div>
                <textarea rows="4" cols="50" wrap="soft" name="descripcion" placeholder="Type your text here..." th:value="${descripcion}"></textarea>
            </div>
            <!-- <div>
                <input type="text" name="descripcion" style="height: 100px;" placeholder="descripcion"
                    th:value="${descripcion}">
            </div> -->
            <button class="register-buttom" type="submit">Editar artículo</button>
        </form>
    </div>

    <div th:if="${edit} == 'fabrica'">
        <!-- <h1 th:replace = "~{/fragments/logo :: h1}"></h1> -->
        <form th:action="@{/fabrica/editar}" method="POST" enctype="multipart/form-data">

            <!-- <div>
                <img id="displayImage" class="profilePic" th:src="'/images/default_pic.png'" width="150px" onclick="document.getElementById('file').click()"/>    
                <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                <p>Click to upload picture</p>
            </div> -->
            <!-- <div>
                <input type="email" name="email" placeholder="email" th:value="${email}">
            </div>
            <div>
                <input type="text"  name="apellido" placeholder="apellido" th:value="${apellido}">
            </div> -->
            <div>
                <input type="text"  name="nombre" placeholder="name" th:value="${nombre}">
            </div>
            <!-- <div id="password">
                <input type="password" name="password" placeholder="password"
                    th:value="${password}" oninput="toggleNextField()">
            </div>
            <div id="passwordRepeat" style="display: none;">
                <input type="password" name="passwordRepeat" placeholder="re-enter password"
                    th:value="${password2}">
            </div> -->

            <button class="register-buttom" type="submit">Editar fábrica</button>
        </form>
    </div>

</body>
</html>