<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace = "~{/fragments/head :: head}"> </head>

<body>
    <div th:replace = "~{/fragments/banner :: div}"> </div>
    <header th:replace = "~{/fragments/header :: header}"> </header>

    <div class="container">
        <div th:if="${form} == 'users'">
            <h3>Registrar usuario</h3>
            <form th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                <div th:replace="~{/fragments/msginject :: div}"></div>
                <div>
                    <img id="displayImage" class="profilePic" th:src="'/images/default_pic.png'" width="150px" onclick="document.getElementById('file').click()"/>    
                    <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                    <p>Click to upload picture</p>
                </div>
                <div>
                    <input type="email" name="email" placeholder="email" th:value="${email}">
                </div>
                <div>
                    <input type="text"  name="apellido" placeholder="apellido" th:value="${apellido}">
                </div>
                <div>
                    <input type="text"  name="nombre" placeholder="name" th:value="${nombre}">
                </div>
                <div id="password">
                    <input type="password" name="password" placeholder="password"
                        th:value="${password}" oninput="toggleNextField()">
                </div>
                <div id="passwordRepeat" style="display: none;">
                    <input type="password" name="passwordRepeat" placeholder="re-enter password"
                        th:value="${password2}">
                </div>
    
                <button class="register-buttom" type="submit">Registrarme</button>
            </form>
        </div>
    </div>


    <div class="container">

        <div th:if="${edit} == 'users'">
            <h3>Editar perfil</h3>
            <form th:action="@{/usuarios/perfil/editar/__${user.id}__}" method="POST" enctype="multipart/form-data">
                <div th:replace="~{/fragments/msginject :: div}"></div>
                <div>
                    <img id="displayImage" class="profilePic" th:src="${user.imagen != null} ? @{'/imagen/perfil/' + ${user.id}} : '/images/default_pic.png'" alt="Profile Picture" width="150px" th:value="${file}" onclick="document.getElementById('file').click()"/>    
                    <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                    <p>Click to upload picture</p>
                </div>
                <div>
                    <input type="email" name="email" placeholder="email" th:value="${user.email}">
                </div>
                <div>
                    <input type="text"  name="apellido" placeholder="apellido" th:value="${user.apellido}">
                </div>
                <div>
                    <input type="text"  name="nombre" placeholder="name" th:value="${user.nombre}">
                </div>
                <div id="password">
                    <input type="password" name="password" placeholder="password"
                        th:value="${password}" oninput="toggleNextField()">
                </div>
                <div id="passwordRepeat" style="display: none;">
                    <input type="password" name="passwordRepeat" placeholder="re-enter password"
                        th:value="${password2}">
                </div>
                <button class="register-buttom" type="submit">Editar usuario</button>
            </form>
            <p><a th:href="@{/inicio}">Cancelar</a></p>
        </div>
    </div>


    <div class="container">
        <div th:if="${form} == 'articulo'">
            <h3>Registrar artículo</h3>
            <form th:action="@{/articulo/registro}" method="POST" enctype="multipart/form-data">
                <div th:replace="~{/fragments/msginject :: div}"></div>
                <div>
                    <img id="displayImage" class="productImg" th:src="'/images/default_product.jpg'"
                        width="150px" onclick="document.getElementById('file').click()" />
                    <input type="file" id="file" name="file" accept="image/*" style="display: none;"
                        onchange="previewImage(event)">
                    <p>Click to upload picture</p>
                </div>
                <div>
                    <input type="text" name="nombre" placeholder="name" th:value="${nombre}">
                </div>
                <div>
                    <select name="fabricaId">
                        <option value="">Seleccionar Fabricante</option>
                        <option th:each="fabrica : ${fabricas}" th:value="${fabrica.id}" th:text="${fabrica.nombre}">
                        </option>
                    </select>
                </div>
                <div>
                    <textarea rows="4" cols="50" wrap="soft" name="descripcion" placeholder="Type your text here..." th:value="${descripcion}" style="height: 250px;"></textarea>
                </div>
                <!-- <div>
                    <input type="text" name="descripcion" style="height: 100px;" placeholder="descripcion"
                        th:value="${descripcion}">
                </div> -->
                <button class="register-buttom" type="submit">Registrar artículo</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div th:if="${edit} == 'articulo'">
            <h3>Editar artículo</h3>
            <form th:action="@{/articulo/editar/__${producto.id}__}" method="POST" enctype="multipart/form-data">
                <div>
                    <img id="displayImage" class="profilePic" th:src="${producto.imagen != null} ? @{'/imagen/articulo/' + ${producto.id}} : '/images/default_product.jpng'" alt="Product Picture" width="150px" th:value="${file}" onclick="document.getElementById('file').click()"/>    
                    <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                    <p>Click to upload picture</p>
                </div>
                <div>
                    <input type="text" name="nombre" placeholder="name" th:value="${producto.nombreArticulo}">
                </div>
                <select name="fabricaId">
                    <option th:text="${producto.fabrica.nombre}" th:value="${producto.fabrica.id}">Seleccionar Fabricante</option>
                    <option th:each="fabrica : ${fabricas}" th:value="${fabrica.id}" th:text="${fabrica.nombre}">
                    </option>
                </select>
                <!-- <div>
                    <input type="text" name="fabrica" placeholder="fabrica" th:value="${fabrica.nombre}">
                </div> -->
                <div>
                    <textarea rows="20" cols="50" wrap="soft" name="descripcion" placeholder="Type your text here..." th:text="${producto.descripcion}"></textarea>
                </div> 
                <button class="register-buttom" type="submit">Editar artículo</button>
            </form>
            <p><a th:href="@{/articulo/lista}">Cancelar</a></p>
        </div>
    </div>


    <div class="container">
        <div th:if="${form} == 'fabrica'">
            <h3>Registrar fábrica</h3>
            <form th:action="@{/fabrica/registro}" method="POST" enctype="multipart/form-data">
                <div th:replace="~{/fragments/msginject :: div}"></div>
                <div>
                    <img id="displayImage" class="profilePic" th:src="'/images/default_product.jpg'" width="150px" th:value="${file}" onclick="document.getElementById('file').click()"/>    
                    <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                    <p>Click to upload picture</p>
                </div>
                <!-- <div>
                    <input type="email" name="email" placeholder="email" th:value="${email}">
                </div>
                <div>
                    <input type="text"  name="apellido" placeholder="apellido" th:value="${apellido}">
                </div> -->
                <div>
                    <input type="text"  name="nombre" placeholder="name" th:value="${nombre}">
                </div>
                <button class="register-buttom" type="submit">Registrar fábrica</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div th:if="${edit} == 'fabrica'">
            <h3>Editar fábrica</h3>
            <form th:action="@{/fabrica/editado/__${fabrica.id}__}" method="POST" enctype="multipart/form-data">
                <div th:replace="~{/fragments/msginject :: div}"></div>
                <div>
                    <img id="displayImage" class="profilePic" th:src="${fabrica.imagen != null} ? @{'/imagen/' + ${fabrica.id}} : '/images/default_product.jpg'" alt="Brand Picture" width="150px" th:value="${file}" onclick="document.getElementById('file').click()"/>    
                    <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)">
                    <p>Click to upload picture</p>
                </div>
                <!-- <div>
                    <input type="email" name="email" placeholder="email" th:value="${email}">
                </div>
                <div>
                    <input type="text"  name="apellido" placeholder="apellido" th:value="${apellido}">
                </div> -->
                <div>
                    <input type="text"  name="nombre" placeholder="name" th:value="${fabrica.nombre}">
                </div>
                <button class="register-buttom" type="submit">Editar fábrica</button>
            </form>
            <p><a th:href="@{/fabrica/lista}">Cancelar</a></p>
        </div>
    </div>

</body>
</html>