<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace = "~{/fragments/head :: head}"> </head>
<body style="background: #9a9a9a;">
    
    <header style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <h1>SOLAR ⚡ ENERGIA</h1>
        <nav th:replace = "~{/fragments/navbar :: nav}"> </nav>
    </header>

    <div th:if="${fabricas} != null" style="display: flex;flex-wrap: wrap;">
        <div th:each="fabrica : ${fabricas}" style="display: flex; flex-direction: column;padding: 0 20px;">
            <img th:src="${fabrica.imagen != null} ? @{'/imagen/' + ${fabrica.id}} : '/images/default_product.jpg'" alt="Brand Picture" style="width: 200px;"/>
            <h3 th:text="${fabrica.nombre}"></h3>
        </div>
    </div>
    
    
</body>
</html>