<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace = "~{/fragments/head :: head}"> </head>

<body>
    <div th:replace = "~{/fragments/banner :: div}"> </div>
    <header th:replace = "~{/fragments/header :: header}"> </header>


    <div th:if="${list} == 'users'" class="list-container">        
        <nav class="navbar">
            <div>
                <h3>Lista de usuarios</h3>
            </div>
            <div>
                <h3 sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/registrar}">Agregar usuario</a></h3>
            </div>
        </nav>
        <div th:if="${users} != null">
            <div th:each="user : ${users}" class="user-card">
                <div class="user-card-content">
                    <img th:src="${user.imagen != null} ? @{'/imagen/perfil/' + ${user.id}} : '/images/default_pic.png'" alt="Profile Picture" width="150px" height="150px"/>
                    <div>
                        <h5 th:text="${user.id}"></h5>
                        <h3 th:text="${user.apellido}"></h3>
                        <h4 th:text="${user.nombre}"></h4>
                        <h3 th:text="${user.email}"></h3>
                        <h3 th:text="${user.rol}"></h3>
                        <a th:href="@{/admin/dashboard/usuarios/__${user.id}__}"><i class="fas fa-feather-alt">
                        </i>Cambiar rol </a>
                    </div>
                </div>
                <div>
                    <!-- implementar paginacion -->
                    <!-- <a th:href="@{/usuarios/lista(page=${page - 1})}" th:if="${page > 0}">Previous</a> -->
                    <!-- <span th:text="${page}"></span> -->
                    <!-- <a th:href="@{/usuarios/lista(page=${page + 1})}" th:if="${page < totalPages - 1}">Next</a> -->
                </div>
                <!-- <a th:href="@{/usuarios/perfil/editar/__${user.id}__}" style="display: flex;">
                </a> -->
            </div>
        </div>
    </div>

    <div th:if="${list} == 'fabrica'" class="container">
        <nav class="navbar">
            <div>
                <h3>Lista de fabricantes</h3>
            </div>
            <div>
                <h3 sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/fabrica/registrar}">Agregar proveedor</a></h3>
            </div>
        </nav>
        <div th:if="${fabricas} != null" style="display: flex;flex-wrap: wrap;">
            <div th:each="fabrica : ${fabricas}" class="card">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/fabrica/editar/__${fabrica.id}__}">
                        <img th:src="${fabrica.imagen != null} ? @{'/imagen/' + ${fabrica.id}} : '/images/default_product.jpg'" alt="Brand Picture" style="width: 200px;"/>
                        <h3 th:text="${fabrica.nombre}"></h3>
                    </a>
                    <div sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/fabrica/editar/__${fabrica.id}__}">
                        <img th:src="${fabrica.imagen != null} ? @{'/imagen/' + ${fabrica.id}} : '/images/default_product.jpg'" alt="Brand Picture" style="width: 200px;"/>
                        <h3 th:text="${fabrica.nombre}"></h3>
                    </div>
                    <div>
                        <!-- implementar paginacion -->
                        <!-- <a th:href="@{/fabrica/lista(page=${page - 1})}" th:if="${page > 0}">Previous</a> -->
                        <!-- <span th:text="${page}"></span> -->
                        <!-- <a th:href="@{/fabrica/lista(page=${page + 1})}" th:if="${page < totalPages - 1}">Next</a> -->
                    </div>
            </div>
        </div>
    </div>

    <div th:if="${list} == 'articulo'" class="list-container">
        <nav class="navbar">
            <div>
                <h3>Lista de productos</h3>
            </div>
            <div>
                <h3 sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/articulo/registrar}">Agregar producto</a></h3>
            </div>
        </nav>
        <div th:if="${articulos} != null">
            <div th:each="producto : ${articulos}" class="product-card">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/articulo/editar/__${producto.id}__}" class="product-card-content">
                    <img th:src="${producto.imagen != null} ? @{'/imagen/articulo/' + ${producto.id}} : '/images/default_product.jpg'" alt="Product Picture" width="200px"/>
                    <div>
                        <h3 th:text="${producto.nombreArticulo}"></h3>
                        <p th:text="${producto.descripcion}"></p>
                    </div>
                </a>
                <div sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/articulo/editar/__${producto.id}__}" class="product-card-content">
                    <img th:src="${producto.imagen != null} ? @{'/imagen/articulo/' + ${producto.id}} : '/images/default_product.jpg'" alt="Product Picture" width="200px"/>
                    <div>
                        <h3 th:text="${producto.nombreArticulo}"></h3>
                        <p th:text="${producto.descripcion}"></p>
                    </div>
                </div>
                <div>
                    <!-- implementar paginacion -->
                    <!-- <a th:href="@{/articulo/lista(page=${page - 1})}" th:if="${page > 0}">Previous</a> -->
                    <!-- <span th:text="${page}"></span> -->
                    <!-- <a th:href="@{/articulo/lista(page=${page + 1})}" th:if="${page < totalPages - 1}">Next</a> -->
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>