<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace = "~{/fragments/head :: head}"> </head>

<body>    
    <div th:replace = "~{/fragments/banner :: div}"> </div>
    <header th:replace = "~{/fragments/header :: header}"> </header>

    <div class="login">

        <div th:replace="~{/fragments/msginject :: div}"></div>

        <form  th:action="@{/logincheck}" method="POST">
            
            <div>
                <input class="logininput" type="email"  name="email" placeholder="email">
            </div>
            <div>
                <input class="logininput" type="password" name="password" placeholder="password">
            </div>
            <div class="login-buttons">
                <div>
                    <button type="submit">Ingresar</button>
                </div>
                <div>
                    <button onclick="window.location.href='/registrar'" type="button" >Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>